<div class="landing-container">
    <header class="landing-header">
      <div class="hero-section">
        <h1>Welcome to GuideRide Admin Portal !</h1>
        <p>Manage as per Need!.</p>
        <button routerLink="/setting">Setting</button>
      </div>
    </header>
  
    <!-- <section class="features">
      <div class="feature">
        <img src="assets/feature1.jpg" alt="Feature 1">
        <h2>Reliable Rentals</h2>
        <p>Enjoy top-quality vehicles with our reliable rental services.</p>
      </div>
      <div class="feature">
        <img src="assets/feature2.jpg" alt="Feature 2">
        <h2>Experienced Guides</h2>
        <p>Our experienced guides will ensure a memorable journey.</p>
      </div>
      <div class="feature">
        <img src="assets/feature3.jpg" alt="Feature 3">
        <h2>Customer Support</h2>
        <p>We are here to assist you 24/7 for a seamless experience.</p>
      </div>
    </section> -->
  
    <footer class="footer">
      <p>&copy; 2024 GuideRide. All rights reserved.</p>
    </footer>
  </div>
  